@use "../utils/variables" as v;

.ca-data {
  align-self: center;
  max-width: 100%;
}

.ca-data .container {
  padding-right: 0;
}

.ca-data__count {
  padding: 1rem 0;
}

.ca-data__table-wrapper {
  overflow-x: auto;
}

.other-ca-data {
  margin-bottom: 1rem;
}
