@use "../utils/variables" as v;

.landing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: v.$bp-lg;
}

.landing__button {
  margin-top: 1rem;
}

.landing {
  width: 100vw;
  height: 100vh;
  overflow-y: auto; // When zoom x5 the content doesn't fit on the background
  background-color: #212121;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../images/landing-bg-sm.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../images/landing-bg-sm.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  color: v.$white-white;

  &__heading {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-top: auto;
  }

  &__subheading {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }

  &__copyright {
    margin-top: auto;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: v.$bp-med-2) {
  .landing {
    &__heading {
      font-size: 3rem;
    }

    &__subheading {
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width: v.$bp-lg) {
  .landing {
    &__heading {
      font-size: 4rem;
    }

    &__subheading {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: v.$bp-med-1) {
  .landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("../images/landing-bg-med.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("../images/landing-bg-med.webp");
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("../images/landing-bg-med.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("../images/landing-bg-med.webp");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: v.$bp-med-1),
  screen and (min-resolution: 192dpi) and (min-width: v.$bp-med-1),
  screen and (min-resolution: 2dppx) and (min-width: v.$bp-med-1) {
  .landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("../images/landing-bg-lg.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      url("../images/landing-bg-lg.webp");
  }
}
