<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="What asteriods can potentially hit the Earth? Find out now!">
    <title>Near-Earth objects (NEOs)</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body>
    <div class="wrapper">
        <section class="introduction">
            <div class="container">
                <h1 class="introduction__heading">
                    <a class="introduction__link" href="/">Asteroid Close Approach Data</a>
                </h1>

                <details class="introduction__container">
                    <summary class="introduction__toggle">Description</summary>
                    <p class="introduction__paragraph">Near-Earth objects (NEOs) are asteroids or comets of sizes
                        ranging from meters to tens of kilometers that orbit the Sun and whose orbits come close to that
                        of Earth's. Of the more than 600&nbsp;000 known asteroids in our Solar System, more than
                        20&nbsp;000 are NEOs.
                    </p>
                    <p class="introduction__paragraph">NEOs could potentially hit our planet and, depending on their
                        size, produce considerable damage.
                    </p>
                    <p class="introduction__paragraph">The table below lists all the known NEOs approaches to Earth that
                        will be closer than 0.05 astronomical units (~7.5 million km) and will happen in the following
                        60 days of the date selected.
                    </p>
                    <p class="introduction__paragraph"><dfn>Astronomical Unit</dfn>, au, is equal to 149,597,870,700
                        meters (about 150 million kilometers, or 93 million miles), roughly the distance from Earth to
                        the Sun.
                    </p>
                    <p class="introduction__paragraph"><dfn>Lunar Distance</dfn>, ld, is roughly equal to the average
                        distance from the center of Earth to the center of the Moon (384,399 km).
                    </p>
                </details>


                <div class="date-picker">
                    <label for="dateInput">Select a date:</label>
                    <input id="dateInput" type="date" required name="date">
                    <button id="searchDate" type="button" class="button">Search</button>
                </div>
            </div>
        </section>

        <section id="cadata" class="ca-data"></section>

        <div class="copyright wrapper__copyright">
            <!-- <p class="copyright__name">created by Roman Stetsyk</p> -->
            <a class="copyright__link" href="https://github.com/romanstetsyk/asteroid-approaches" target="_blank"
                aria-label="GitHub" rel="noreferrer noopener">
                <svg class="copyright__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path
                        d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                </svg>
            </a>
        </div>
    </div>


    <script src="/js/main.js"></script>
</body>

</html>