<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Near-Earth objects (NEOs)</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body>
    <section class="landing">
        <div class="container">
            <h1 class="landing__heading">Near Earth Objects</h1>
            <h2 class="landing__subheading">There are more than 600&nbsp;000 known asteroids in our Solar System. Find
                out which are the closest to
                Earth</h2>
            <a class="button landing__button" href="/table">Explore</a>
            <p class="copyright landing__copyright">Created by</p>
        </div>
    </section>
</body>

</html>