/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-style: normal;
  color: #fff;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

summary {
  cursor: pointer;
}

a {
  line-height: 1;
}

.container {
  max-width: 90em;
  padding-left: 1rem;
  padding-right: 1rem;
}

.landing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.landing__button {
  margin-top: 1rem;
}

.landing {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #212121;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/landing-bg-sm.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/landing-bg-sm.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
}
.landing__heading {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin-top: auto;
}
.landing__subheading {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
.landing__copyright {
  margin-top: auto;
  margin-bottom: 1rem;
}

@media screen and (min-width: 48em) {
  .landing__heading {
    font-size: 3rem;
  }
  .landing__subheading {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 73em) {
  .landing__heading {
    font-size: 4rem;
  }
  .landing__subheading {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 40em) {
  .landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/landing-bg-med.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/landing-bg-med.webp");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/landing-bg-med.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/landing-bg-med.webp");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 40em), screen and (min-resolution: 192dpi) and (min-width: 40em), screen and (min-resolution: 2dppx) and (min-width: 40em) {
  .landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/landing-bg-lg.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/landing-bg-lg.webp");
  }
}
.introduction__container::after, .introduction__container::before {
  position: absolute;
  content: "";
  left: 0;
  width: 8rem;
  height: 2px;
  background-color: #c50000;
}

.introduction {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
}
.introduction__heading {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.introduction__link {
  color: inherit;
  text-decoration: none;
}
.introduction__container {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  position: relative;
}
.introduction__container::before {
  top: 0;
}
.introduction__container::after {
  bottom: 0;
}
.introduction__paragraph {
  padding-top: 0.5rem;
}

.date-picker {
  display: flex;
  gap: 1rem;
}
.date-picker .button {
  font-size: 1rem;
}

@media screen and (min-width: 60em) {
  .introduction__heading {
    font-size: 2rem;
  }
}
.ca-data {
  align-self: center;
  max-width: 100%;
}

.ca-data .container {
  padding-right: 0;
}

.ca-data__count {
  padding: 1rem 0;
}

.ca-data__table-wrapper {
  overflow-x: auto;
}

.other-ca-data {
  margin-bottom: 1rem;
}

.wrapper {
  min-height: 100vh;
  background-color: #000;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/stars.jpeg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.wrapper__copyright {
  align-self: center;
  margin-top: auto;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

@media screen and (min-width: 60em) {
  .wrapper {
    padding: 0 7rem;
  }
}
.button {
  display: block;
  max-width: fit-content;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  padding: 0.4em 1.25em;
  border-radius: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  border: 1px solid #fff;
  transition: 0.4s;
}

.button:hover {
  background: #fff;
  color: #2f3640;
}

@media screen and (min-width: 48em) {
  .button {
    font-size: 1.5rem;
  }
}
.table {
  display: inline-table;
  margin-right: 1rem;
  border-collapse: collapse;
}
.table th, .table td {
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(33, 33, 33, 0.8);
}
.table__cell-nowrap {
  white-space: nowrap;
}
.table__deviation {
  font-size: 0.75em;
}
.table .table__links {
  display: flex;
  flex-wrap: wrap;
}
.table__link {
  display: block;
  padding: 0.2rem;
  color: inherit;
}

.table__row-active > td {
  background: grey;
}

.table tr[data-object]:hover {
  cursor: pointer;
}

.spinner {
  position: fixed;
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/spinner.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.copyright {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.copyright__link {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=main.css.map */