@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic);


* {
    box-sizing: border-box;
}

/* --- The Table Structure --- */

table {
  vertical-align: middle;
}
td, th {
  border: 1px solid #eee;
}

th {
  font-weight: 700;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

/* -- The Stlyes -- */
body {
  margin: 30px;
  background: #ECEAE3;
  background: linear-gradient(to right, rgba(1,1,1,0.5), rgba(1, 1, 1, 0.8)), url("../images/stars.jpeg");
  font-family: monospace;
  color: white;
}
.description {
  margin: 0.5rem 0;
}
.content {
  width: 85%;
  margin: 0 auto;
  font-size: 1rem;
}

.description > p {
  padding: 0.5rem 0;
}


th, td{
  padding: 8px 10px;
}

.cell-nowrap {
    white-space: nowrap;
}
.date-error {
    font-size: 0.75em;
}

.container {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    flex-wrap: wrap-reverse;
    align-items: start;
    margin: 3rem 0;
}

a {
  color: #eee;
}

.table-ca {
    max-height: 500px;
    overflow:scroll;
    display: inline-block;
}

.flex {
    overflow-y: auto;
    height: 100%;
}

.row-active > *{
    background: grey;
}

.object-data {
    margin-bottom: 5rem;
}


/* === BASE HEADING === */ 

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 3rem;
  padding-bottom: 1rem;
}

/* === HEADING STYLE #2 === */
h1 {
  text-transform: uppercase;
}
h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7rem;
  height: 2px;
  content: "";
  background-color: #c50000;
}
