@use "../utils/variables" as v;

.copyright {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.copyright__link {
  display: flex;
  align-items: center;
}

.copyright__icon {
  fill: v.$white-white;
  transition: fill 250ms linear;
}
.copyright__icon:hover {
  fill: rgb(170, 170, 170);
}
