.table {
  display: inline-table; // fixes dissapearing right padding
  margin-right: 1rem;
  border-collapse: collapse;

  & th,
  & td {
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(33, 33, 33, 0.8);
  }

  &__cell-nowrap {
    white-space: nowrap;
  }

  &__deviation {
    font-size: 0.75em;
  }

  .table__links {
    display: flex;
    flex-wrap: wrap;
  }
  &__link {
    display: block;
    padding: 0.2rem;
    color: inherit;
  }
}

.table__row-active > td {
  background: grey;
}

.table tr[data-object]:hover {
  cursor: pointer;
}
