@use "../utils/variables" as v;

.wrapper {
  min-height: 100vh;
  background-color: #000;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/stars.jpeg");
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  &__copyright {
    align-self: center;
    margin-top: auto;
    padding-bottom: 1rem;
    padding-top: 3rem;
  }
}

@media screen and (min-width: v.$bp-med-3) {
  .wrapper {
    padding: 0 3rem;
  }
}

@media screen and (min-width: v.$bp-lg) {
  .wrapper {
    padding: 0 7rem;
  }
}
